
 
 body{  
    margin: 0px;
    padding: 0px; 
}

#contenedor{
    width: 90%;
    margin: 0 auto;
}
#caja-heder{
    height: 1000px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top:3%;
    background-color: rgb(41, 167, 156);
    border: 1px solid;
    border-color: rgb(197, 207, 207);
    height: 20%;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    
}
#caja2{
    height: 900px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top:3%;
    background-color: rgba(0, 0, 0, 0.945);
    border: 1px solid;
    border-color: rgb(8, 95, 88);
    height: 10%;
    line-height: 50px;
}
div#caja2{
    text-align: center;
    
}
ul li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40PX;
    font-size: 20px;
    font-family: Arial , Helvetica, sans-serif;
    
}
ul li:hover {
    background: rgb(30, 204, 45);
  
    border-radius: 10px;
}
h3{
   margin-left: 2%;
   margin-right: 2%;
   background-color:none;
   color:white;
   display: inline-block;
   font-family: Georgia, 'Times New Roman', Times, serif;

}


#caja-body{
    height: 900px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    border-top: none;
}
#caja-foot{
    height: 25%;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    border-top:none;
    margin-bottom: 1%;
    margin-top: 0%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 50px;
    background-color: rgba(15, 85, 216, 0.753);
  
}

h4{
    display: inline-block;
    margin-left: 3%;
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-size: 12px;
   
}
.body-cajas{
    
    display: inline-block;
    height: 100%;
    background: rgb(97, 171, 207);
    border: 0.1px solid;
    border-color: black;
    margin-top: 0px;
}
#caja1-body{
  margin-left: 1%;
  position: relative;
  
}
h1{
    margin-top: 10px;
    position: absolute;
    width: 93%;
    text-align: center;
    color: rgb(3, 3, 3);
  }
#caja1-body{
     float: left;
     width: 69%;
     position: relative;
}
#caja2-body{
    width: 28%;
    position: relative;
}
#parrrafo1{
    position: absolute;
    margin-top: 20px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    color: rgb(0, 0, 0);
}

img{
    margin-right:5%;
    width: 50%;
    margin-top: 20px; 
}
.img3{
    width: 30%;
  margin-right: 18%;
}
#parrrafo2{
    position: absolute;
    margin-top: 150px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    color: rgb(5, 4, 4);
}
button{
    background-color: rgba(0, 0, 0, 0.822);
    color: #fff;
    font-size: 17px;
    margin-top: 30px;
    border: none;
    width: 90%;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 10px 15px;
    font-family:'Roboto', sans-serif;
    transition: 5s ease-in;
    -webkit-transition: .5s ease-in ;
    -moz-transition: .5s ease-in;
    -o-transition:  .5s ease;
    margin-left: 1%;
   
}